global
    log stdout format raw local0

defaults
    mode http
    log global
    option tcplog
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    server app1 web:3000 check
    # Add more servers if you have multiple instances of your Ruby app
