<div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
  <h1>Editing link</h1>

  <%= render "form", link: @link %>

  <br>

  <div>
    <%= link_to "Show this link", @link, class: "text-indigo-600 hover:text-indigo-900" %> |
    <%= link_to "Back to links", links_path, class: "text-indigo-600 hover:text-indigo-900" %>
  </div>
</div>